<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper>
    <resultMap id="foodlistMap" type="com.qfedu.pojo.FoodListContent">
        <id column="food_list_id" property="foodListId"></id>
        <result column="food_list_imgpath" property="foodListImgpath"></result>
        <result column="food_list_content" property="foodListContent"></result>
    </resultMap>
    <select id="findAllContent" resultMap="foodlistMap">
        select *from t_food_list
    </select>
</mapper>