<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.qfedu.dao.FoodListContentDao">
    <resultMap id="foodlistMap" type="com.qfedu.pojo.FoodListContent">
        <id column="food_list_id" property="foodListId"></id>
        <result column="food_list_imgpath" property="foodListImgpath"></result>
        <result column="food_list_content" property="foodListContent"></result>
        <result column="food_list_contentdetail" property="foodListContentDetail"></result>
    </resultMap>
    <select id="findAllContent" resultMap="foodlistMap">
        select food_list_id,food_list_imgpath,food_list_content from t_food_list
    </select>
    <select id="findContent" resultMap="foodlistMap" parameterType="Integer">
        SELECT food_list_imgpath,food_list_contentdetail from t_food_list  where  food_list_id =#{id}
    </select>
</mapper>